<h1 class="mb-4"><%= @category.name %></h1>
<p class="text-muted"><%= @category.description %></p>

<%= render partial: 'products/product_list', locals: { products: @products } %>
<%= paginate @products %>
