<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <% products.each do |product| %>
    <div class="col">
      <div class="card h-100 shadow-sm border-0">
        <% if product.image.attached? %>
          <%= image_tag product.image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
        <% else %>
          <img src="https://picsum.photos/400/300" class="card-img-top" style="height: 200px; object-fit: cover;">
        <% end %>
        
        <div class="card-body text-center d-flex flex-column">
          <h5 class="card-title fw-semibold"><%= product.name %></h5>
          <p class="text-muted">$<%= number_with_precision(product.price, precision: 2) %></p>
          <%= link_to "View Details", product_path(product), class: "btn btn-outline-primary btn-sm mt-auto" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
